[project]
	description = Dictionary ADT implementation in C.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/harsha176
[access "refs/for/refs/*"]
	read = group user/harsha176
	push = group user/harsha176
	label-Code-Review = -2..+2 group user/harsha176
	label-Verified = -1..+1 group user/harsha176
	rebase = group user/harsha176
	removeReviewer = group user/harsha176
	submit = group user/harsha176
[access "refs/heads/*"]
	read = group user/harsha176
	create = group user/harsha176
	push = +force group user/harsha176
	pushMerge = group user/harsha176
[access "refs/tags/*"]
	push = +force group user/harsha176
	pushTag = group user/harsha176
	pushSignedTag = group user/harsha176
